/* https://coolors.co/palette/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08 */

h1 {
    color: #03071E;
    background-color: #F48C06;
    text-align: center;
    /* border-style: dashed; */
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}

body {
    background-color: #FFBA08;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: left;
    background-color: #370617;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 0;
}

nav ul li a {
    color: #FFBA08;
    font-size: 2.5em;
    text-decoration: none;
    padding: 15px;
}

nav ul li a:hover {
    background-color: #6A040F;
    color: #F48C06;
}

#content {
    margin: 50px;
}

.pullquote {
    font-size: 2.5em;
    background-color: #E85D04;
    padding: 25px;
    margin-left: 75px;
    margin-right: 75px;
}

.zoomImg {
    width: 250px;
    transition: width 1000ms;
}

.zoomImg:hover {
    width: 450px;
}