/* colors from https://coolors.co/palette/ffcdb2-ffb4a2-e5989b-b5838d-6d6875 */

h1 {
    color: #FFCDB2;
    background-color: #6D6875;
    text-align: center;
    /* border-style: dashed; */
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

body {
    background-color: #FFCDB2;
}


nav ul {
    list-style-type: none;
    display: flex;
    background-color: #E5989B;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav ul li a {
    font-size: 2em;
    text-decoration: none;
    color: #6D6875;
    padding: 15px;
}

nav ul li a:hover {
    background-color: #6D6875;
    color: #E5989B;
}

#theText {
    color: #6D6875;
}

.pullquote {
    font-size: 2.5em;
    background-color: #E5989B;
    padding: 25px;
    margin-left: 75px;
    margin-right: 75px;
}