body {
    background-color: rgb(115, 83, 71);
}

h1 {
    text-align: center;
    background-color: darkblue;
    color: blanchedalmond;
    padding: 75px;
    border-style: dashed;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 75px;
}

nav ul {
    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: blue;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: rgb(120, 120, 177);
    color: black;
}