h1 {
    color: rgb(219, 78, 27);
    font-size: 3em;
    background-color: rgba(167, 157, 167, 0.507);
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
}

body {
    background-image: url("mountains.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    padding: 5%;
}

#meaningless {
    color: green;
}

#container {
    background-color: rgba(255, 255, 240, 0.8);
    padding: 75px;
}

.button {
    text-decoration: none;
    background-color: rgb(28, 40, 150);
    color: white;
    padding: 15px;
    margin: 30px;
    border-radius: 20px;
}

.button:hover {
    background-color: rgb(143, 145, 253);
    color: black;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(41, 40, 40);
    width: 100%;
}

nav ul li {
    float: left;
    background-color: rgb(41, 40, 40);
}

nav ul li a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    font-family: sans-serif;
}

nav ul li a:hover {
    background-color: rgb(93, 93, 93);
}