h1 {
    text-align: center;
    font-size: 2.5em;
    background-color: rgba(255, 140, 0, 0.897);
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 50px;
    margin-top: 100px;
}


body {
    background-image: url("trees.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#container {
    background-color: rgba(255, 255, 255, 0.753);
    margin: 75px;
    padding: 50px;
}

.button {
    background-color: rgb(2, 0, 139);
    padding: 15px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

.button:hover {
    background-color: rgb(147, 147, 245);
    color: black;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgb(26, 26, 26);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a:hover {
    background-color: rgb(129, 128, 128);
    color: black;
}