/* https://coolors.co/palette/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226 */

h1 {
    color: #AE2012;
    /* border-style: dashed; */
    text-align: center;
    background-color: #94D2BD;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 50px;
}

body {
    background-color: #E9D8A6;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: left;
    background-color: #0A9396;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}

nav ul a {
    text-decoration: none;
    font-size: 2em;
    color: #001219;
    padding: 15px;
}

nav ul a:hover {
    background-color: #005F73;
    color: #E9D8A6;
}

#content {
    margin: 50px;
}

.pullquote {
    font-size: 2.5em;
    background-color: #EE9B00;
    padding: 25px;
    margin-left: 75px;
    margin-right: 75px;
}

.zoomImg {
    width: 200px;
    transition: width 500ms;
}

.zoomImg:hover {
    width: 400px;
}