body {
    background-color: #EAE2B7;
}

h1 {
    color: #D62828;
    background-color: #FCBF49;
    border-style: dashed;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F77F00;
    width: 100%;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    color: #003049;
}

nav ul li a:hover {
    background-color: #003049;
    color: #F77F00;
}

.pullquote {
    font-size: xx-large;
    margin-left: 150px;
}

#important {
    color: #D62828;
}

#mainContent {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 75px;
    background-color: #FCBF49;
    padding: 50px;
}
