h1 {
    color: green;
    text-align: center;
    background-color: lightsteelblue;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

body {
    background-color: lightyellow;
    margin-top: 100px;
}

#important {
    color: darkblue;
    background-color: lightgray;
}

.useful {
    color: navajowhite;
    background-color: black;
}

nav ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: gray;
    margin: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 20px;
    background-color: gray;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: black;
    color: gray;
}