h1 {
    text-align: center;
    background-color: #FB8500;
    color: #023047;
    border-style: dashed;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 75px;
}

body {
    background-color: #8ECAE6;
}

.pullquote {
    font-size: x-large;
    margin-left: 150px;
}

nav ul {
    list-style-type: none;
    background-color: #FFB703;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFB703;
    color: #023047;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #023047;
    color: #FFB703;
}

#mainContent {
    background-color: #219EBC;
    margin: 50px;
    padding: 25px;
}

.zoomImage {
    width: 50px;
    transition: width 2s;
}

.zoomImage:hover {
    width: 100%;
}