/* got the color palette from: https://coolors.co/palette/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08 */

h1 {
    color: #03071E;
    background-color: #DC2F02;
    /* border-style: dashed; */
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}

body {
    background-color: #FFBA08;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: left;
    background-color: #E85D04;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 2em;
    color: #03071E;
    padding: 15px;
}

nav ul li a:hover {
    background-color: #6A040F;
    color: #FFBA08;
}

#content {
    background-color: #F48C06;
    margin: 50px;
    padding: 25px;
}

.button {
    text-decoration: none;
    background-color: #6A040F;
    color: #FFBA08;
    padding: 15px;
    border-radius: 20px;
}

.button:hover {
    background-color: #03071E;
}