/* https://coolors.co/palette/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08 */

h1 {
    color: #03071E;
    background-color: #E85D04;
    border-style: dashed;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 300px;
    margin-right: 300px;
}

body {
    background-color: #FFBA08;
}