/* https://coolors.co/palette/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08 */

h1 {
    color: #03071E;
    background-color: #E85D04;
    border-style: dashed;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
}

body {
    background-color: #FFBA08;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #D00000;
    width: 100%;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #FFBA08;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 2em;
}

nav ul li a:hover {
    background-color: #6A040F;
}

#gifs {
    text-align: center;
}

.pullquote {
    font-size: xx-large;
    background-color: #6A040F;
    color: white;
    margin-left: 150px;
    margin-right: 150px;
    padding: 30px;
}

.zoomImage {
    width: 150px;
    transition: width 2s;
}

.zoomImage:hover {
    width: 500px;
}