/* color palette from: https://coolors.co/palette/f94144-f3722c-f8961e-f9844a-f9c74f-90be6d-43aa8b-4d908e-577590-277da1 */

h1 {
    color: #277DA1;
    background-color: #F9844A;
    /* border-style: dashed; */
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 25px;
}

body {
    background-color: #F9C74F;
    margin: 0;
    padding: 0;
}

nav ul {
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: left;
    background-color: #4D908E;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 2em;
    color: #F9C74F;
    padding: 15px;
}

nav ul li a:hover {
    background-color: #43AA8B;
}

#content {
    background-color: #F8961E;
    margin: 50px;
    padding: 25px;
}

.button {
    text-decoration: none;
    background-color: #43AA8B;
    color: black;
    padding: 15px;
    border-radius: 20px;
}

.button:hover {
    background-color: #277DA1;
}